.modal_text {
    font-size: 1.5em;
    margin-left: .4em;
    position: relative;
    bottom: .05em;
}

#book_detail_login {
    color: ghostwhite;
    font-size: 1.2em;
    transition: color 0.4s ease;
}

#book_detail_login:hover  {
    color: whitesmoke;
}

#authorDescription {
    z-index: -20;
    min-height: 300px;
}